@import "../../styles/mixins";
@import "../../styles/variables";

.userList {
  @include flex-column;
  gap: 40px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    .userCount {
      color: $slate-400;

      .emDash {
        margin: 0 12px;
      }
    }
  }

  .filters {
    position: relative;

    .userFavorite {
      position: absolute;
      top: 8px;
      right: 40px;
    }
  }

  .noMatch {
    color: $slate-400;
  }

  .list {
    @include flex-column;
    gap: 8px;
  }

  .paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .page,
    .previous,
    .next {
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: $legit-bgc;
      }
    }

    .page {
      padding: 13px 16.5px;
    }

    .previous,
    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;

      .chevronIcon {
        height: 18px;
        width: 18px;
      }
    }

    .active {
      background-color: $legit-bgc;
    }

    .disabled {
      cursor: default;
      color: $slate-400;

      &:hover {
        background-color: transparent;
      }

      .chevronIcon {
        fill: $slate-400;
      }
    }
  }
}
