@import "../../styles/mixins";

.userForm {
  @include flex-column;
  gap: 20px;
  border: 1px solid rgb(177, 177, 177);

  .form {
    @include flex-column;
    gap: 6px;

    input {
      margin-left: 4px;
    }

    button {
      max-width: 120px;
    }
  }
}
