@import "../../styles/mixins";
@import "../../styles/variables";

.usersSection {
  @include flex-column;
  gap: 40px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    .userCount {
      color: $slate-400;

      .emDash {
        margin: 0 12px;
      }
    }
  }

  .paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .page,
    .previous,
    .next {
      cursor: pointer;
      border-radius: 5px;
      font-size: 14px;

      &:hover {
        background-color: $legit-100;
      }
    }

    .page {
      padding: 13px 16.5px;
    }

    .previous,
    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;

      .chevronIcon {
        height: 18px;
        width: 18px;
      }
    }

    .active {
      background-color: $legit-100;
      font-weight: 600;
    }

    .disabled {
      cursor: default;
      color: $slate-400;

      &:hover {
        background-color: transparent;
      }

      .chevronIcon {
        fill: $slate-400;
      }
    }
  }
}
