@import "./variables";
@import "./mixins";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $slate-400;
}

::-webkit-scrollbar-thumb:hover {
  background: $slate-500;
}

html,
svg,
button,
form,
form input {
  color: $slate-800;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll; /* Prevent layout changes due to scrollbar */
}

h1 {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  background: $legit-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  color: $slate-900;
  letter-spacing: -0.5px;
  font-size: 24px;
  font-weight: 800;
}

h3 {
  letter-spacing: -0.3px;
  color: $slate-900;
  font-size: 16px;
  font-weight: 800;
}

h4 {
  color: $slate-400;
  font-size: 14px;
  font-weight: 500;
}
