@import "./variables";
@import "./mixins";

html {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  background: $legit-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
