@import "./variables";
@import "./mixins";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $slate-400;
}

::-webkit-scrollbar-thumb:hover {
  background: $slate-500;
}

html,
input {
  font-family: "Inter", Arial, sans-serif;
}

html {
  overflow-y: scroll; /* Prevent layout changes due to scrollbar */
}

p {
  font-size: 14px;
}

h1 {
  font-size: 24px;
  letter-spacing: 2.5px;
  font-weight: 700;
  background: $legit-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  letter-spacing: -0.4px;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-weight: 600;
  font-size: 14px;
}

h4 {
  color: $slate-400;
  font-size: 14px;
  font-weight: 400;
}

h5 {
  padding: 1px 0;
  width: fit-content;
  font-size: 14px;
  background: $legit-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
