@import "../../../styles/mixins";
@import "../../../styles/variables";

.userForm {
  width: 100%;
  @include flex-column;
  align-items: center;
  gap: 25px;
  padding-top: 50px;

  .formGrid {
    width: 100%;
    max-width: 600px;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px;

    .checkboxLabel {
      grid-row: 3 / 4;
    }

    .labelTitle {
      font-size: 14px;
      font-weight: 600;
    }

    .textLabel {
      @include flex-column;
      gap: 8px;

      input {
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: $legit-50;
        padding: 14px 10px;

        &::placeholder {
          color: $slate-300;
        }

        &:focus {
          border-color: $legit-secondary;
          box-shadow: 0px 0px 2px $legit-secondary;
        }

        &.errorInput {
          border-color: $color-red;
          box-shadow: 0px 0px 2px $color-red;
        }
      }

      p {
        color: $color-red;
        font-size: 12px;
        height: 12px;
      }
    }

    .checkboxLabel {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 7px;
      position: relative;

      .checkIcon {
        position: absolute;
        left: 4.5px;
      }

      .checkbox {
        border: 1px solid $slate-300;
        border-radius: 5px;
        padding: 10px;
        transition: background-color 0.3s ease;

        &:checked {
          border-color: $legit-400;
          background-color: $legit-400;
        }
      }
    }
  }

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    padding: 12px 40px;
    border: 2px solid $legit-secondary;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    transition: background-color 0.2s ease;

    .label {
      background: $legit-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &:hover {
      background-color: $legit-100;
    }

    .logo {
      height: 26px;
      width: auto;
    }
  }
}

.submitMessage {
  height: 14px;
  font-size: 14px;

  &.success {
    color: $color-green;
  }

  &.error {
    color: $color-red;
  }
}
