@import "../../styles/mixins";
@import "../../styles/variables";

.navbar {
  padding: 13px 40px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;

  .logoHands {
    height: 32px;
    width: auto;
  }
}
