@import "../../styles/mixins";
@import "../../styles/variables";

.userDetails {
  margin: 80px;
  padding: 40px;
  @include flex-column;
  gap: 20px;
  background-color: $legit-bgc;
  border-radius: 10px;

  .avatar {
    border-radius: 50%;
  }
}
