@import "../../styles/mixins";
@import "../../styles/variables";

.userDetails {
  @include flex-column;
  gap: 20px;
  background-color: $legit-bgc;
  border-radius: 10px;

  .avatar {
    border-radius: 50%;
  }
}
