@import "./styles/variables";
@import "./styles/mixins";

.app {
  .contentContainer {
    padding: 0 20px;
    @include flex-column;
    align-items: center;

    .content {
      width: 100%;
      max-width: $page-width;
    }

    @media screen and (max-width: 460px) {
      padding: 0 10px;
    }
  }
}
