@import "@styles/mixins";
@import "@styles/variables";

.app {
  .contentContainer {
    padding: 0 20px;
    @include flex-column;
    align-items: center;

    .content {
      width: 100%;
      max-width: $page-width;
    }
  }
}
